.info{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0 , 0%, 0%, 0.1 );
  padding: 20px;
  margin: 10px;
  text-align: center;
   background: #1e3a8a;
   color: white;
    display: flex;
    flex-direction: column;
    
}

.about-us-container{
  display: flex;
}
 
.headerText h2{
  margin: 30px;
}

.headerText p {
  margin-left: 30px;
}

.help-section {
  display: flex;
  flex-direction: column;
  background: #0a2b66;
  color: white;
  align-items: center;
  max-width: 1200px;
}

/* .help-image {
  flex: 1;
  display: flex;
  justify-content: left;
} */

.help-image img {
  max-width: 700px;
}

.help-content {
  
}

.help-content h2 {
 font-family: Roboto;
font-weight: 600;
font-size: 42px;
line-height: 110.00000000000001%;
text-align: center;
}

.help-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.help-grid h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.help-grid p {
  color: #d1d5db; /* lighter text for readability */
  line-height: 1.5;
  font-size: 1rem;
}

  .help-section {
    flex-direction: row;
  }

  .help-content {
    margin-top: 0;
    padding-left: 3rem;
  }

  .help-grid {
    grid-template-columns: 1fr 1fr;
  }

  .infoHeading{
    text-align: center;
  
  }

  .paragraphInfo{
      text-align: center;
      
}

.video-container{
    display: flex;
    justify-content: center;
     align-items: center; 
}

.info-section {
   font-family: "Montserrat", sans-serif;
  background-color: #0A1F44; /* dark blue */
  padding: 40px;
  /*margin: 20px 0;*/
  text-align: center;
  color: white;
}




